<mat-toolbar color="accent">
  <div class="alignFooter" ><button mat-button>
    <mat-icon>email_outline</mat-icon>
    EMAIL
  </button>
  <button mat-button>
    <mat-icon>dashboard_outline</mat-icon>
    REPORT
  </button>
  <button mat-button>
    <mat-icon>bar_chart_outline</mat-icon>
    GRAPH
  </button>
  <button mat-button>
    <mat-icon>add_outline</mat-icon>
    ADD
  </button>
    <button mat-button>
      <mat-icon>delete</mat-icon>
      DELETE
    </button>
    <button mat-button>
      <mat-icon>done_outline</mat-icon>
      SUBMIT
    </button>
    <button mat-button>
      <mat-icon>save_outline</mat-icon>
      SAVE
    </button></div></mat-toolbar>
